<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>url路径表达式</title>
</head>
<body>
    <h1>url路径表达式:@{...}</h1>
    <h2>a标签中的绝对路径</h2>
    <a href="http://www.baidu.com">传统写法：跳转至百度</a><br>
    <a th:href="@{http://www.bjpowernode.com}">th:跳转至百度</a><br>
    <a th:href="@{http://localhost:8080/user/detail}">跳转到user/detail</a><br>

    <h2>URL路径表达式，相对路径（实际开发中推荐使用）</h2>
    <a th:href="@{/user/detail}">相对路径跳转至user/detail</a>


</body>
</html>